* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #282923;
}

#fullscreen {
    background: white;
    background: url(../assets/fullscreen.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 40px;
    width: 40px;
    border: none;
    margin-top: 12px;
    display: block;
    left: 3%;

}