* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #282923;
}

#fullscreen {
    background: white;
    background: url(../assets/fullscreen.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 30px;
    width: 30px;
    border: none;
    margin-top: 15px;
    left: 85%;
    display: flex;
}



#fullscreen:focus {
    outline: 0px;
}